{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block body %}
<div>
    <div class="row-center align-items-center" style="text-align: center; height: 80vh;">
        <div class="" style="margin-top: 210px;">
            <form style="width: 100%; align-items: center;" action="/" method="post">
                <h1 class="" style= "font-size: 45px;" >Вход</h1>
                <div class="">
                    <input type="text" style="height: 40px; width: 300px; border-radius: 7px;" class="" name="tel_number" placeholder="Tel_number">
                </div>
                <br>
                <div class="form-floating">
                    <input type="password" style="height: 40px; width: 300px; border-radius: 7px;" class="" name="password" placeholder="Password">
                </div>
                <br>
                <button style="font-size: 20px; height: 30px; border-radius: 5px;" type="submit" >Войти</button>
            </form>
        </div>
    </div>
    <div>
        
    </div>
</div>
{% endblock %}


